* {
  margin: 7px;
  padding: 6px;
}

body{
  background-image: url(marmer.jpg)
}

ul {
  font-size: 20px;
  list-style: none;
  background-color: grey;
}

li {
  display: inline-block;
}

a:hover {
  color: black;
}

h1 {
  text-align: center;
}

h1, p {
  border: 4px solid gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text color: black;
}

li a {
  color: white;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
}

li a {
  list-style: none;
  background-color: grey;
}

.antwoord {
  background-color: black;
}
.antwoord:hover {
  color: white;
}

p{
  font-size: 25px;
}
